==

<section class="container footer-extras">
    {% if bodyClass != "contato" %}
    <div class="footer-extras-container">
        <div class="footer-extras-item">
            <h3>Acesso rápido</h3>
            <ul>
                <li>
                    <a class="footer-extras_link" href="produtos.html">{{ 'Produtos'|contenttext('Site | Header', true, 'Texto de menu | Produtos') }}</a>
                </li>
                <li>
                    <a class="footer-extras_link" href="servicos.html">{{ 'Serviços'|contenttext('Site | Header', true, 'Texto de menu | Serviços') }}</a>
                </li>
                <li>
                    <a class="footer-extras_link" href="contato.html">{{ 'Contato'|contenttext('Site | Header', true, 'Texto de menu | Contato') }}</a>
                </li>
                <li>
                    <a class="footer-extras_link" href="sobre.html">{{ 'Sobre'|contenttext('Site | Header', true, 'Texto de menu | Sobre') }}</a>
                </li>
            </ul>
        </div>
        
        <div class="footer-extras-item">
            <h3>{{ 'Onde estamos'|contenttext('Site | Footer', true, 'Título do mapa') }}</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3156.2683001329838!2d-43.96683679051816!3d-19.820619095227492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa68fdc3b1aef0d%3A0x7f89a9a6227bb8dc!2sChaveiro+Mineir%C3%A3o+-+Jair+atendimento+24+Horas!5e0!3m2!1spt-BR!2sbr!4v1557111661331!5m2!1spt-BR!2sbr&zoom=9" width="100%" frameborder="0" style="border:0" style="z-index:40" allowfullscreen></iframe>
        </div>
        
        
    </div>
    {% endif %}
    <div class="container-copyright">
        <p>&copy; 2019 Desenvolvido por <a class="container-copyright-link" href="https://stiapp.com.br">stiapp.com.br</a><p>
    </div>
</section>

<section class="footer">
    <div class="footer-desktop">
        <div>

        </div>
    </div>
    <div class="footer-contact-mobile">
        <div class="swiper-container footer-contact-swiper__container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper footer-contact-swiper__wrapper">
                <!-- Slides -->
                <a class="swiper-slide">(31) 99468-0534</a>
                <a class="swiper-slide">(31) 3451-5859</a>
                <a class="swiper-slide">(31) 99999-9999</a>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev" style="background-image: url({{ 'assets/img/left-arrow.svg'|theme }})"></div>
            <div class="swiper-button-next" style="background-image: url({{ 'assets/img/right-arrow.svg'|theme }})"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>