==
<section class="header header-fixed">
    
    <a href="{{ 'home'|page }}">
        <div class="header-logo" style="background-image: url({{ 'assets/img/key-logo.svg'|theme }})">
            <span>Chaveiro</span>
            <span>Mineirão</span>
        </div>
    </a>

    <div class="container header">
        <ul class="header-menu">
            <li class="header-menu__list">
                <a href="{{ 'home'|page }}"><span>{{ ''|contenttext('Site | Header', true, 'Texto de menu | Home') }}</span></a>
            </li>
            <li class="header-menu__list">
                <a href="{{ 'produtos'|page }}"><span>{{ 'Produtos'|contenttext('Site | Header', true, 'Texto de menu | Produts') }}</span></a>
            </li>
            <li class="header-menu__list">
                <a href="{{ 'servicos'|page }}"><span>{{ 'Serviços'|contenttext('Site | Header', true, 'Texto de menu | Serviços') }}</span></a>
            </li>
            <li class="header-menu__list">
                <a href="{{ 'contato'|page }}"><span>{{ 'Contato'|contenttext('Site | Header', true, 'Texto de menu | Contato') }}</span></a>
            </li>
            <li class="header-menu__list">
                <a href="{{ 'sobre'|page }}"><span>{{ 'Sobre'|contenttext('Site | Header', true, 'Texto de menu | Sobre') }}</span></a>
            </li>
        </ul>
    </div>

    <h1 class="header-company">
        {{ 'CHAVEIRO MINEIRÃO - Atendimento 24H'|contenttext('Site | Header', true, 'Texto em destaque do HEADER') }}
    </h1>
</section>
<section class="header header-mobile header-fixed">

    <a class="header-mobile__pin btn-map" href="#" aria-label="Você será redirecionado para o google maps">

    </a>

    <div class="header-company">
        {{ 'Chaveiro Mineirão'|contenttext('Site | Header', true, 'Texto em destaque do HEADER MOBILE') }}
    </div>
</section>

<nav role="navigation" class="nav-hamburguer">
    <div class="menuToggle">
        <!--
          A fake / hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
        <input type="checkbox" class="menuToggle-element" />

        <!--
          Some spans to act as a hamburger.
          
          They are acting like a real hamburger,
          not that McDonalds stuff.
          -->
        <span></span>
        <span></span>
        <span></span>

        <!--
          Too bad the menu has to be inside of the button
          but hey, it's pure CSS magic.
          -->
        <ul class="menu">
            <a href="{{ 'home'|page }}">
                <li class="menu-item">{{ ''|contenttext('Site | Header', true, 'Texto de menu | Home') }}</li>
            </a>
            <a href="{{ 'produtos'|page }}">
                <li class="menu-item">{{ 'Produtos'|contenttext('Site | Header', true, 'Texto de menu | Produts') }}</li>
            </a>
            <a href="{{ 'servicos'|page }}">
                <li class="menu-item">{{ 'Serviços'|contenttext('Site | Header', true, 'Texto de menu | Serviços') }}</li>
            </a>
            <a href="{{ 'contato'|page }}">
                <li class="menu-item">{{ 'Contato'|contenttext('Site | Header', true, 'Texto de menu | Contato') }}</li>
            </a>
            <a href="{{ 'sobre'|page }}">
                <li class="menu-item">{{ 'Sobre'|contenttext('Site | Header', true, 'Texto de menu | Sobre') }}</li>
            </a>
        </ul>
    </div>
</nav>

