==
<section class="header header-fixed">

    <a href="index.html">
        <div class="header-logo">
            <span>Chaveiro</span>
            <span>Mineirão</span>
        </div>
    </a>

    <div class="container header">
        <ul class="header-menu">
            <li class="header-menu__list">
                <a href="index.html"><span>Home</span></a>
            </li>
            <li class="header-menu__list">
                <a href="produtos.html"><span>Produtos</span></a>
            </li>
            <li class="header-menu__list">
                <a href="servicos.html"><span>Serviços</span></a>
            </li>
            <li class="header-menu__list">
                <a href="contato.html"><span>Contato</span></a>
            </li>
            <li class="header-menu__list">
                <a href="sobre.html"><span>Sobre</span></a>
            </li>
        </ul>
    </div>

    <div class="header-company">
            CHAVEIRO MINEIRÃO - Atendimento 24H
    </div>
</section>
<section class="header header-mobile header-fixed">

    <div class="header-mobile__pin">

    </div>

    <div class="header-company">
        Chaveiro Mineirão
    </div>
</section>

<nav role="navigation" class="nav-hamburguer">
    <div class="menuToggle">
        <!--
          A fake / hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
        <input type="checkbox" class="menuToggle-element" />

        <!--
          Some spans to act as a hamburger.
          
          They are acting like a real hamburger,
          not that McDonalds stuff.
          -->
        <span></span>
        <span></span>
        <span></span>

        <!--
          Too bad the menu has to be inside of the button
          but hey, it's pure CSS magic.
          -->
        <ul class="menu">
            <a href="index.html">
                <li class="menu-item">Home</li>
            </a>
            <a href="produtos.html">
                <li class="menu-item">Produtos</li>
            </a>
            <a href="servicos.html">
                <li class="menu-item">Serviços</li>
            </a>
            <a href="contato.html">
                <li class="menu-item">Contato</li>
            </a>
            <a href="sobre.html">
                <li class="menu-item">Sobre</li>
            </a>
        </ul>
    </div>
</nav>