<section class="modal-contact-background d-none" id="modal-contact-close">
    <div class="modal-body modal-contact" id="modal_contact">
        <div class="modal-contact-section">
            <h2 class="modal-contact-title">Ligue Agora</h2>
            
            {% for unit in units.units %}
                {% for c in unit.contacts %}
                    {% set link = c.value|replace_regex('/[^0-9+]/', '') %}
                    <p class="modal-contact-phone">
                        <a class="btn btn-phone" href="tel:0{{ link }}">{{ c.value }}</a>
                    </p>
                {% endfor %}
            {% endfor %}
            
        </div>
    </div>
</section>