[units]
==
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="_BIrbfQt5RYn8yXaiGmchFGRvi3CW9MxSK5aPQYmFLE" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

    {% if this.page.id == 'produtos' %}
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    {% endif %}

    {# Inserção do estilo específico de cada página #}
    {% set cssPath = "assets/css/" ~ this.page.styleName %}
    <link rel="stylesheet" type="text/css" href="{{ cssPath |theme }}">
    {# Inserção do estilo específico de cada página #}

    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/common.min.css?v=1.0.0'|theme }}">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/swiper-4.5.min.css?v=1.0.0'|theme }}">
    <link rel="shortcut icon" href="{{ 'assets/img/key-logo.png'|theme }}" />

    <title>{{ this.page.title }}</title>
</head>

<body>

    {% partial 'header' %}
    <main>
        {% page %}
    </main>

    {% partial 'modal-whatsapp' %}

    {% partial 'footer' %}

</body>


<script src="{{ 'assets/js/swiper-4.5.0.min.js?v=1.0.0'|theme }}"></script>
<script src="{{ 'assets/js/common.min.js?v=1.0.0'|theme }}"></script>
<script src="{{ 'assets/js/custom.js?v=1.0.0'|theme }}"></script>

<script>
    var APP = {

        defaults: {
            latitude: null,
            longitude: null,
            

        },

        init: function(){
            var self = this;
            this.getMap(self.defaults.latitude, self.defaults.longitude);
        },

        getMap: function (lat, log) {
            
            let isAndroid = navigator.userAgent.toLowerCase().indexOf("android") > -1;
            let isIphone = navigator.userAgent.indexOf("iPhone") != -1 ;
            let touchEvent = 'ontouchstart' in window ? 'touchstart' : 'click';
            let map = "http://maps.apple.com/?daddr=" + lat + "," + log;
            let as = document.getElementsByClassName("btn-map");

            if(isIphone){
                map = "http://maps.apple.com/?daddr=" + lat + "," + log;
            }

            for(let a of as){
                btn.addEventListener(touchEvent, function(){
                    a.href = map;
                });
            }
        },


    }
    APP.defaults.latitude = -19.8215706;
    APP.defaults.longitude = -43.9658104;
    APP.init();
</script>

</html>