
url = "/contato"
layout = "layout"
styleName = "contato.css"

title = "Chaveiro Mineirão | Contato | Atendimento 24 HORAS"
description = "Chaveiro 24h | Entre em contato com a melhor empresa para serviços de chaveiro e solicite um orçamento. Atendemos toda a cidade de Belo Horizonte ( BH ) e região"

urlCanonical = "https://chaveiromineirao.com.br/contato"
==
<section class="body">
    <div class="container container-title">
        <div class="container-conteudo">
            <h1 class="map-title">Entre em contato</h1>
        </div>
    </div>
    <div class="container-conteudo container-about-image">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3156.2683001329838!2d-43.96683679051816!3d-19.820619095227492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa68fdc3b1aef0d%3A0x7f89a9a6227bb8dc!2sChaveiro+Mineir%C3%A3o+-+Jair+atendimento+24+Horas!5e0!3m2!1spt-BR!2sbr!4v1557111661331!5m2!1spt-BR!2sbr&zoom=9"
            frameborder="0" style="border:0" style="z-index:40" allowfullscreen></iframe>
    </div>
</section>
<section class="contact-informations">
    <div class="contact-section">
        <h2>Telefones</h2>
        {% for unit in units.units %}
            {% for c in unit.contacts %}
                {% set link = c.value|replace_regex('/[^0-9+]/', '') %}
                <p class="contact-phone">
                    <a class="btn btn-phone" href="tel:0{{ link }}">{{ c.value }}</a>
                </p>
            {% endfor %}
        {% endfor %}

    </div>
    <div class="contact-section">
        <h2>Endereço</h2>

        <p>
            {{ 'Endereço'|contenttext('Site | Contato', true, 'Endereço Completo no final da página') }}
            
        </p>
        <a class="btn btn-show-route btn-map" href="#">
            Leve-me até lá
        </a>
    </div>

</section>