url = "/produtos"
layout = "layout"
styleName = "produtos.css"

title = "Promoções e Produtos Chaveiro Mineirao"

[products]
==

<section class="body">
    <div class="container container-busca">
        <div class="container-conteudo">
            <div class="form-busca">
                <form action="#">
                    <input class="form-busca-input" {% if products.filters.search is not empty  %} value="{{ products.filters.search }}" {% endif %}list="browsers" name="search" placeholder="Protuto">
                    <datalist id="browsers">
                        {% for c in products.categories %}
                        <option value="{{ c.name }}">
                        {% endfor %}

                    </datalist>
                    <button class="form-busca-button" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="container-conteudo">
            <div class="container-produtos">
                {% if products.products|length %}
                    {% for prducts in products.products|batch(3) %}
                    <div class="row">
                        {% for product in prducts %}
                        <div class="card">
                            <div class="card-product_title">
                                <p class="card-product_name">{{ product.name }}</p>
                            </div>
                            <div class="card-image">
                                <img src="{{ product.primary_image.thumb(250,250,{'mode':'crop'}) }}" alt="">
                            </div>
                            <div class="card-product_information">

                                <p class="card-product_price"><span>Por apenas </span>R${{ product.value }}</p>
                            </div>
                            <button type="button" class="card-product_button btn-buy whatsapp-button-action" data-name="{{ product.name }}">COMPRAR</button>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                {% else %}
                    Estamos preparando essa área para você, logo logo teremos várias ofertas, que tal ver nossos serviços, basta clicar <a href="{{'servicoes'|page}}">aqui</a>
                {% endif %}
            </div>
        </div>
</section>

<script>

(function(){
    PRODUCTS = {
        
        init: function(){
            this.addEventBuy();
        },

        addEventBuy: function(){
            let btnBuy = document.getElementsByClassName("btn-buy")

            for(let btn of btnBuy){
                let product = btn.getAttribute("data-name");

                btn.addEventListener('click', function(){
                    var els = document.getElementsByName("PRODUCT");
                    
                    for(let e of els){
                        e.value = product;
                    }
                })
            }
           
        }

    }

    PRODUCTS.init();
}());

</script>