url = "/servicos"
layout = "layout"
styleName = "servicos.css"

title = "Serviços com ótimos preços"

[services]
==
<section class="body">
    <div class="container container-title">
        <div class="container-conteudo">
            <h1 class="map-title">
                {{ 'Conheça nossos serviços'|contenttext('Site | Serviços', true, 'Título da página') }}</h1>
        </div>
    </div>
    <div class="container-services">


        <div class="container-service">
            {% if services.services|length > 0 %}
            {% for s in services.services %}
            <div class="row-service">
                <div class="service-card service-card-image">
                    <img width="300px" style="max-height: 180px;" src="{{ s.primary_image.getPath() }}" alt="">
                </div>
                <div class="service-card service-card-description">
                    <div class="service-card-text">
                        <h2 class="m-0 row-service-title">
                            {{ s.name }}
                        </h2>
                        <p class="m-0 row-service-paragraph">
                            {{ s.description }}
                        </p>
                    </div>
                    <div class="service-card-button">
                        <a class="btn btn-cotacao btn-cotacao-servicos btn-buy whatsapp-button-action" data-name="{{ s.name }}">Informações do serviço</a>
                        <a class="btn btn-ligacao btn-ligacao-servicos modal-contact-action" >Ligue Agora</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Desculpe, mas nenhum serviço foi encontrado</p>
            {% endif %}
        </div>

    </div>
</section>

<script>

    (function () {
        SERVICES = {

            init: function () {
                this.addEventBuy();
            },

            addEventBuy: function () {
                let btnBuy = document.getElementsByClassName("btn-buy")

                for (let btn of btnBuy) {
                    let service = btn.getAttribute("data-name");

                    btn.addEventListener('click', function () {
                        var els = document.getElementsByName("PRODUCT");

                        for (let e of els) {
                            e.value = service;
                        }
                    })
                }

            }

        }

        SERVICES.init();
    }());

</script>